html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.banner {
  position: fixed;
  bottom: 0;
  width: 100%;
}
