html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  max-width: 50em;
}

.banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 500px;
}
